* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.progress {
    margin: 20px auto 50px;
    background-color: rgb(226, 226, 226);
    width: 500px;
    height: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.progress-fill {
    height: 100%;
    width: 0%;
    background-color: rgb(88, 145, 252);
    border-radius: 10px;
    transition: width 0.5s ease; 
}

form {
    width: 500px;
    display: grid;
    margin: 20px auto;
    gap: 20px;

    input {
        width: 100%;
        margin-top: 5px;
        box-sizing: border-box;
        padding: 7px 20px;
        border-radius: 5px;
        border: 1px rgb(175, 175, 175) solid;
        outline: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        &:focus {
            border: 1px gray solid;
        }
    }

    .validationVisual {
        margin-left: 10px;
        width: 20px;
        height: 20px;
    }

    .isValid, .isNotValid {
        border-radius: 10px;
        padding: 0 3px;
        color: white;
        font-size: 12px;
    }

    .isValid {
        background-color: green;
    }

    .isNotValid {
        background-color: red;
        border-radius: 10px;
    }

    .send {
        width: 100px;
        height: 30px;
        border: 1px gray solid;
        background-color: rgb(46, 140, 228);
        color: white;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
            background-color: rgb(32, 114, 190);
        }

        &:disabled {
            cursor: default;
            background-color: rgba(46, 140, 228, 0.7);
            color: rgb(219, 219, 219);
        }
    }
}

.table {
    margin-top: 20px;
}

table {
    width: 500px;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden; 

    td {
        width: 50%;
        width: 500px;
        padding: 10px 15px;
        border: 1px solid #ddd;
        text-align: left;
    }
}
